body{
   height: 100%;
   background-image:url("../images/section.jpg");
   background-size: 3000px;
   background-repeat: no-repeat;
   
}
.logoimg{
   width: auto;
   height: 100%;
}
nav{
   width: 100%;
   display: flex !important;
   background-image: linear-gradient(to left, #000080,#0080ff,#0045ff,#0000ff,#000080);

}
nav .sidenav-trigger {
    float: left;
    position: absolute !important;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}
footer{
    display: block;
    background-image: linear-gradient(to left, #000080,#0080ff,#0045ff,#0000ff,#000080);
}
#hide{
   width: 60px;
   display: none;
   color: #ee6e73;
}
.background{
   background-image: url('../images/logoPT.png');
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0 auto;
   width:62px;
   display: block;
   height:60px;
}
.logotp{
   background-image: url('../images/logoPT.png');
   background-size: cover;
   background-repeat: no-repeat;
   width:53px;
   display: inline-block;
   height:50px;
   padding: 5px;
   margin-top: 7px;
   margin-left: 5px;
}
.mth{
   background-image: url("../images/math.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#math{
   filter: blur(0px);
   display: flex;
   color: #cc231e;
}
.mem{
   background-image: url("../images/memory.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#memor{
   filter: blur(0px);
   display: flex;
   color:#235e6f;
}
.logic{
   background-image: url("../images/logicimg.jfif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#logic{
   display: flex;
   filter: blur(0px);
   color:#353341;
}

.att{
   background-image: url("../images/atention.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#attent{
   filter: blur(0px);
   display: flex;
   color:  #34532a;
}
.icons{
   font-size: 5px;
   height: 169px;
   border-radius: 15px;
   margin-bottom: 15px;
   margin: 0 auto;
}
.botticon{
   padding-top: 6%;
}
.topicon{
   padding-top: 5%;
}
.gameicon{
   font-size: 33px;
   justify-content: center;
   display: flex;
   color: white !important;
   font-family: bold;
}
.section{
   display: flex;    
   justify-content: space-around;
   height:423px !important;
   /* padding:30px; */
}
#bigpgdiv{
   width:95%;
   position: absolute;
   display: inline-block !important;
}
#slide-out{
      background-image:url("../images/section.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  
}
.pages{
   color: white;
   padding-left:15px;
}
.pages:hover{
   background-color: #0080ff;
   cursor: pointer;
}
.pagesn{
   margin-top: 100px;


}
.pagesbig{
   color: #000000;
   display: inline-block;
   display: block;
   float:right;
   text-align: right;
    margin-left:5px;

   
}
.pgbighome{
       display: inline-block;
} 
.header_word{
      color: white;
      margin-left:10px;
      text-align: center;
      font-size: 15px;
      
}
.header_word:hover{
      cursor: pointer;

}
    @media only screen and (max-width : 995px) {
     
         .logotp{
         margin-top: 5px !important;
         margin: 0 auto;
         display: block;
      }
         .gameicon{
            font-size: 25px;
            
         }
      .pagesbig {
        padding-left: 0;
        display: none;
      }
      .logotpdiv{
         display: inline-block;
         width: 90%;
      }
       
    }
      @media only screen and (min-height: 1000px) {
        footer{
          position: absolute;
          bottom: 0;
          width: 100%;
        }
          .login_form{
          margin-top:150px !important;
       }
       .form_regist{
          margin-top:60px !important;
       }

      }
      .mth , .logic , .mem , .att{
         transition: 0.5s ease;
         filter: blur(0.4);

      }
      .mthdiv , .memdiv , .logdiv, .attdiv {
         position: relative;
         width: 100%;
         margin-top: 10px;
         height: 171px;
         border: 2px solid #000000;
         border-radius: 15px;
         overflow: hidden;
         cursor: pointer;
     }
  #attent ,#memor ,  #logic , #math{
      height: 100%;
      z-index: 1;
      display: flex;
      position: absolute;
      width: 100%;
      margin: 0 auto;
      padding-top: 65px;
      background-color: rgba(0,0,0,.3);
      border-radius: 15px;
  }

.attdiv:hover .att , .memdiv:hover .mem , .logdiv:hover .logic , .mthdiv:hover .mth{
   filter: blur(0px);
   transform: scale(1.2);
}
/* registration */
/* .parent{
   display:flex;
} */
.form_regist{
      background-color:rgb(3, 79, 104);
      text-align: center;
      margin: 0 auto; 
      width:100%;
      max-width:300px;
      height:620px;
      margin-top:5px;
      margin-bottom:20px;
      border:2px solid lightblue;
      justify-content: center;
      font-size:20px;
      border-radius:5%;
      opacity: 0.8;
 }
#regist_title{
   color:white;
}
input{
   color:white;
  height:20px !important;
  text-align: center;
  width:270px !important;
  line-height:normal !important;
  margin: 0 !important;
  border-bottom:1px solid lightseagreen !important;
}
label{
   font-size:20px !important;
   color:white !important;
}
 .radio{
      position:relative !important;
      opacity: 1 !important;
      pointer-events:auto !important;   
      width:15px !important;
      margin-top:2px !important;
}
#regist_button{
   
   background: #0066A2;
   color: white;
   border-radius: 20px;
   border-color: #0066A2;
   height: 50px;
   width: 100px;
   font: bold 15px arial, sans-serif;
   text-shadow:none;
}
.checking{
   font-size:18px;
   color:white;
}
/* login */
.login_sec{
   height:440px;
}
.login_form{
   background-color:rgb(3, 79, 104);
   text-align: center;
   margin: 0 auto; 
   width:100%;
   max-width:350px;
   height: 100%;
   max-height:360px;
   margin-top:10px;
   margin-bottom:20px;
   border:2px solid lightblue;
   font-size:20px;
   border-radius:5%;
   opacity: 0.8;
}
#login_title{
   color:white;

}
#login_button{
   background:#6495ED ;
   color: white;
   margin-top:5px;
   border-radius: 20px;
   border-color: lightblue;
   height: 50px;
   width: 100px;
   font-family: bold 15px arial, sans-serif;
   /* text-shadow:none; */
}
.pass_rule{
   width:200px;
   height:20px ;
   color:white;
}