body{
   height: 100%;
}
.logoimg{
   width: auto;
   height: 100%;
}
nav{
   width: 100%;
   display: flex !important ;

}
footer{
    display: block;
}
#hide{
   width: 60px;
  display: none;
  color: #ee6e73;
}
.background{
   background-image: url('../images/logoPT.png');
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0 auto;
   width:62px;
   display: block;
   height:60px;
}
.logotp{
   background-image: url('../images/logoPT.png');
   background-size: cover;
   background-repeat: no-repeat;
   width:53px;
   display: inline-block;
   height:50px;
   margin-top: 2px;
}
.mth{
   background-image: url("../images/download\ \(1\).jfif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#math{
   filter: blur(0px);
   display: flex;
   color: #cc231e;
}
.mem{
   background-image: url("../images/download.jfif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#memor{
   filter: blur(0px);
   display: flex;
   color:#235e6f;
}
.logic{
   background-image: url("../images/logicimg.jfif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#logic{
   display: flex;
   filter: blur(0px);
   color:#353341;
}

.att{
   background-image: url("../images/attent.jfif");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover; 
   filter: blur(2px);
}
#attent{
   filter: blur(0px);
   display: flex;
   color:  #34532a;
}
.icons{
   font-size: 5px;
   height: 169px;
   border-radius: 15px;
   margin-bottom: 15px;
   margin: 0 auto;
}
.botticon{
   padding-top: 6%;
}
.topicon{
   padding-top: 5%;
}
.gameicon{
   font-size: 33px;
   justify-content: center;
   display: flex;
}
.section{
   display: flex;
   justify-content: space-around;
}
    #bigpgdiv{
       width:95%;
       position: absolute;
       display: inline-block !important;
    }
    .pages{
       color: black;
       margin-left: 15%;
    }
    .pages:hover{
       background-color: darkgray;
    }
    .pagesn{
       margin-top: 100px;
    }
    .pagesbig{
       color: #000000;
       display: inline-block;
       text-align: right;
    }
    .pgbighome{
       margin-left: 80%;
       display: inline-block;
    } 
      @media only screen and (max-width : 992px) {
         .gameicon{
            font-size: 25px;
         }
      .pagesbig {
        padding-left: 0;
        display: none;
      }
      .logotpdiv{
         display: inline-block;
         width: 90%;
      }
    }
      @media only screen and (min-height: 710px) {
        footer{
          position: absolute;
          bottom: 0;
          width: 100%;
        }
      }
      nav{
        display: flex;
        justify-content: space-between;
      }
      .mth , .logic , .mem , .att{
         transition: 0.5s ease;
         filter: blur(0.4);
      }
      .mthdiv , .memdiv , .logdiv, .attdiv {
         position: relative;
         width: 100%;
         margin-top: 10px;
         height: 171px;
         border: 2px solid #000000;
         border-radius: 15px;
         overflow: hidden;
         cursor: pointer;
     }
  #attent ,#memor ,  #logic , #math{
      height: 100%;
      z-index: 1;
      display: flex;
      position: absolute;
      width: 100%;
      margin: 0 auto;
      padding-top: 65px;
      background-color: rgba(0,0,0,.3);
      border-radius: 15px;
  }

.attdiv:hover .att , .memdiv:hover .mem , .logdiv:hover .logic , .mthdiv:hover .mth{
   filter: blur(0px);
   transform: scale(1.2);
}