body{
   height: 100%;
   background-image:url("../images/section.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   /* position: relative; */
}
.logoimg{
   width: auto;
   height: 100%;
}
nav{
   width: 100%;
   display: flex !important;
   background-image: linear-gradient(to left, #000080,#0080ff,#0045ff,#0000ff,#000080);
}
nav .sidenav-trigger {
    float: left;
    position: absolute !important;
    z-index: 1;
    height: 56px;
    margin: 0 18px;
}
#hide{
   width: 60px;
   display: none;
   color: #ee6e73;
}
.background{
   background-image: url('../images/logoPT.png');
   background-size: cover;
   background-repeat: no-repeat;
   margin: 0 auto;
   width:62px;
   display: block;
   height:60px;
}
.logotp{
   background-image: url('../images/logoPT.png');
   background-size: cover;
   background-repeat: no-repeat;
   width:53px;
   display: inline-block;
   height:50px;
   padding: 5px;
   margin-top: 7px;
   margin-left: 5px;
}
#bigpgdiv{
   width:95%;
   position: absolute;
   display: inline-block !important;
}
#slide-out{
   background-image:url("../images/section.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
.pages{
   color: white;
   padding-left:15px;
}
.pages:hover{
   background-color: #0080ff;
   cursor: pointer;
}
.pagesn{
   margin-top: 100px;
}
.pagesbig{
   color: #000000;
   display: inline-block;
   display: block;
   float:right;
   text-align: right;
   margin-left:5px;
}
.pgbighome{
   display: inline-block;
} 
.header_word{
   color: white;
   margin-left:10px;
   text-align: center;
   font-size: 15px;
}
.header_word:hover{
   cursor: pointer;

}
@media only screen and (max-width : 995px) { 
      .page-footer{
         position: relative;
         height:540px !important;
      } 
      .logotp{
         margin-top: 5px !important;
         margin: 0 auto;
         display: block;
      }
      .pagesbig {
        padding-left: 0;
        display: none;
      }
      .logotpdiv{
         display: inline-block;
         width: 90%;
      }
    }
/* footer */
.icon{
   font-size:35px;
   padding:2px;
}
input{
   color:white;
   height:20px !important;
   width:270px !important;
   line-height:normal !important;
   border-bottom:3px;
   margin: 0 !important;
   border-bottom:1px solid lightseagreen !important;
}
label{
   font-size:20px !important;
   color:white !important;
}
/* texapoxvox nayel  */
.pass_rule{
   width:200px;
   height:20px ;
   color:white;
}
footer{
   background-image: linear-gradient(to left, #000080,#0080ff,#0045ff,#0000ff,#000080) !important;
   /* position: fixed; */
   left:0;
   bottom:0;
   width: 100% !important;
   height: 275px;
}
#facebook:hover{
   color:#10ecb9;
}
#gmail:hover{
   color:red;
}
#website:hover{
   color:#10ecb9;
}
#comment{
   max-height: 100px;
   min-height: 30px;
   color:white;
   max-width:365px !important;
}
#send{
   background:#6495ED ;
   color: white;
   margin-top:5px;
   border-radius: 10px;
   border-color: lightblue;
   height: 40px;
   width: 80px;
   font-family: bold 15px arial, sans-serif;
   font-size:20px;
}